<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="smt3.progdevelopment.trialmymanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrialMyManager">
        <activity android:name=".Report.ReportPage"></activity>
        <activity android:name=".Create.ThisCreate" />
        <activity android:name=".Profile.UserProfile" />
        <activity android:name=".Ongoing.DetailSchedule" />
        <activity android:name=".Create.EditSchedule" />
        <activity android:name=".Create.Create" />
        <activity android:name=".Report.Report" />
        <activity android:name=".Ongoing.EditSchedule" />
        <activity android:name=".Ongoing.OngoingPage" />
        <activity android:name=".Create.CreateSchedule" />
        <activity android:name=".Create.Create_Activity" />
        <activity android:name=".Authentication.SignUp" />
        <activity android:name=".Authentication.SignIn" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>